################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/E-commerce App
/Infrastucture/obj
/Infrastucture/bin/Debug/net6.0
/Core/obj
/Core/bin/Debug/net6.0
/API/bin/Debug/net6.0
/API/obj
